body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
  }
  .container {
    max-width: 800px; /* or your preferred width */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .header-left, .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .header-nav a:hover {
    text-decoration: underline;
  }
  
  .header-right span {
    cursor: pointer;
  }
  .header-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  #post-creation {
    margin: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  #post-text {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #post-button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .image-upload-label {
    display: inline-block;
    cursor: pointer;
    color: #5cb85c;
    margin-left: 10px;
    margin-right: 10px;

  }
  
  #posts-container {
    margin: 20px;
  }
  
  .post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .post img {
    width: 100px;
    height: auto;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .delete-post {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #ff0000;
    font-size: 1.2rem;
  }
  